/* 通用css配置 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
@font-face {
    font-family: PingFang SC;
    src: url('../assets/font/PingFangSC.ttf');
}
@font-face {
    font-family: PingFang-SC-Bold;
    src: url('../assets/font/PingFang-SC-Bold.ttf');
}
a {
    text-decoration: none;
}

body {
    background: #fff;
    user-select: none;
}

img {
    border: none;
}