.container {
    min-width: 980px;
}
.footer-bottom {
    width: 100%;
    margin: 0 auto;
}
.standardnav-background {
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.21);
    display: flex;
    justify-content: center;
    top: 0;
    position:sticky;
    z-index: 2002;
    opacity: 0.8;
}
.standardnav-content {
    width: 978px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    
}
.standardnav-content span:first-child {
 
    font-size: 22px;
    font-family: Helvetica;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 48px;
    
}
.standardnav-content span:last-child {
    
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 48px;
}
.ribbon {
    width: 100%;
    height: 66px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    position: sticky;
    /* z-index: 9999; */

}

.ribbon-content-wrapper {
    width: 978px;
    height: 66px; 
    display: flex;
    flex-direction: column;
}

.ribbon-content p{
    width: 100%;
    font-size: 10px;
    height: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #666666;
    display: flex;
    line-height: 12px;
    justify-content: center;
    align-items: center;
    
}
.ribbon-content p:nth-child(1){
    margin-top: 11px;
}
.ribbon-content p:nth-child(2){
    margin: 5px 0;
}
.product-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product {
    width: 978px;
    height: auto; 
    display: flex;

}
.product-img {
    width: 489px;
    display: flex;
    flex-direction: column;
    
}
.main-image {
  width: 403px;
  height: 424px;
  margin-top: 74px;

    
}
.main-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}
.product-img-content {
    width: 100%;
    position: sticky;
    top: 0;
    
}
.buystrip {
    display: flex;
    margin-top: 65px;
    /* flex: 1; */
}
.buystrip-item {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buystrip-item > p {
    height: 11px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
    margin-top: 14px;
}
.chat-buyflow {
    width: 489px;
    height: 33px;
    border-top: 1px solid #D6D6D6;;
    display: flex;
    padding: 27px;
    /* margin-top: 30px; */
    margin: 30px auto auto auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.chat-buyflow > img {
    margin: 10px;
}
.chat-buyflow-container p:nth-child(1) {
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
    line-height: 12px;
    margin-top: 4px;
}
.chat-buyflow-container a {
    display: inline-block;
    height: 14px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #5E8ECB;
    line-height: 14px;
    margin: 4px 0;

}


.product-info {
    width: 489px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-info-header {
    margin-top: 74px;
    width: 370px;
    height: 150px;
    margin-left: 44px;
}
.product-info-header p:nth-child(1) {
    height: 14px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #F05636;
    line-height: 14px;
    
}
.product-info-header p:nth-child(2) {
    
    font-size: 38px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 38px;
    margin: 10px 0;
}
.product-info-header p:nth-child(3) {
   
    height: 13px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #666666;
    line-height: 13px;
}

.product-info-header p:nth-child(4) {

    height: 16px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 16px;
    margin: 21px 0 8px 0;
}
.product-info-header p:nth-child(5) a {
    height: 16px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    line-height: 16px;
}
.product-selection-type {
    width: 408px;
    margin-top: 52px;
    margin-left: 82px;
}
.product-selection-type div:nth-child(1){
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 16px;
}
.product-selection-type div:nth-child(1)+a{
    display: block;
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    line-height: 12px;
    margin: 17px 0 20px 0;
}
.product-selector-item {
    border: 2px solid #D6D6D6;
    border-radius: 10px;

}
.item-apple12pro-1 {
    width: 408px;
    height: 82px;
    box-sizing: border-box;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.type-apple12pro-wrapper1 {
    width: 372px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.type1-wrapper {
    height: 32px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.type2-wrapper {
    height: 32px;
    width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.type1-wrapper > p:nth-child(1) {

    height: 14px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 14px;
}
.type1-wrapper > p:nth-child(2) {

    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
}
.type2-wrapper > p:nth-child(1) {
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
    text-align: right;
}
.type2-wrapper > p:nth-child(2)  {
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 16px;
    text-align: right;
}
.item-apple12pro-2 {
    width: 408px;
    height: 104px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-apple12pro-wrapper2 {
    width: 372px;
    height: 52px;
    display: flex;
    justify-content: space-between;

}
.type3-wrapper {
    width: 120px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.type3-wrapper p:nth-child(1) {
  
    height: 11px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #F05636;
    line-height: 11px;
}
.type3-wrapper p:nth-child(2) {

    height: 18px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 18px;
}
.type3-wrapper p:nth-child(3) {
 
    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
}
.type4-wrapper {
    width: 105px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type4-wrapper p:nth-child(1) {
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
}
.type4-wrapper p:nth-child(2) {
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 24px;
}
.line {
    height: 30px;
    width: 408px;
    margin-left: 80px;
    border-bottom: 1px solid #D6D6D6;;
}
.product-selection-color {

    width: 408px;
    height: 265px;
    margin-top: 25px;
    margin-left: 80px;
}
.item-color {
    width: 197px;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-color-animation {
    
    -webkit-animation: color-item-left 0.4s cubic-bezier(.25,.46,.22,1.19) both;
    animation: color-item-left 0.4s cubic-bezier(.25,.46,.22,1.19) both;
}
.item-color-active {
    border: 1px solid #333333;
}
.product-selector-item:hover {
    border-color:  #56595c;
}
.product-selector-item-click {
    border-color:  #3994ee;
    box-shadow: 0 0 0 3px #72b1f0;
}

.item-color-wrapper {
    width: 408px;
    height: 229px;
    background-color: #FFFFFF
}

.item-color:nth-child(1) {
    float: left;
    margin-bottom: 14px;
    box-sizing: border-box;
}
.item-color:nth-child(2) {
    float: right;
    margin-bottom: 14px;
    box-sizing: border-box;
}
.item-color:nth-child(3) {
    float: left;
    box-sizing: border-box;
}
.item-color:nth-child(4) {
    float: right;
    box-sizing: border-box;
}
.item-color img {
    width: 32px;
    height: 32px;
}

.item-color span {
    margin-top: 6px;
    height: 11px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 11px;
}


.product-selection-color p:first-child {
    height: 16px;
    font-size: 16px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 16px;
    margin-bottom: 20px;
}

.product-selection-size {
    height: 294px;
    width: 408px;
    margin-left: 80px;
    margin-top: 25px;
}
.product-selection-size p:nth-child(1) {
    height: 16px;
    font-size: 16px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 16px;
}
.product-selection-size p:nth-child(2) {
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    line-height: 12px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.item-size-wrapper {
    width: 408px;
    height: 229px;

}
.item-size {
    width: 197px;
    height: 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: border-box; */
    
}
.item-size p:nth-child(1) {
    height: 21px;
    font-size: 28px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 21px;
    margin-top: 18px;
}
.item-size p:nth-child(2) {
    height: 13px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 13px;
}
.item-size p:nth-child(2) span{
    display: inline-block;
    height: 13px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    position: relative;
    top: -2px;
    left: 2px;
}
.item-size p:nth-child(3) {
    height: 10px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 10px;
    position: relative;
    top: -12px;
}
.item-size:nth-child(1) {
    float: left;
}
.item-size:nth-child(2) {
    float: right;
}
.item-size:nth-child(3) {
    position: relative;
    bottom: -9px;
}
.product-selection-discount {
    height: 169px;
    width: 408px;
    margin-left: 80px;
    margin-top: 25px;
}
.product-selection-discount p:nth-child(1) {
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
}
.product-selection-discount a {
    height: 13px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    line-height: 13px;
    margin: 17px 0 17px 0;
    display: block;
}
.item-discount-wrapper {
    width: 408px;
    height: 107px;

}
.item-discount:nth-child(1) {
    float: left;
    box-sizing: border-box;
}
.item-discount:nth-child(2) {
    float: right;
    box-sizing: border-box;
}
.item-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    height: 107px;
    
}
.product-selection-server {
    height: 338px;
    width: 407px;
    margin-left: 80px;
    margin-top: 26px;
}
.product-selection-server p:nth-child(1) {
    height: 18px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 18px; 
}
.product-selection-server p:nth-child(2) {
    width: 420px;
    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 12px;
    margin: 12px 0 22px 0;
}
.item-server:nth-child(1) {
    width: 407px;
    height: 82px;
    box-sizing: border-box;
    line-height: 82px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}
.item-server:nth-child(1) p {
    margin-left: 15px;
}
.item-server:nth-child(2) {
    width: 407px;
    height: 177px;
    box-sizing: border-box;
}
.item-server:nth-child(2) p {
    width: 376px;
    margin: 0 auto;
    margin-top: 18px;
}
.item-server:nth-child(2) p span:nth-child(1) {
    height: 18px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 18px;
    display: inline-block;
    float: left;
}
.item-server:nth-child(2) p span:nth-child(2) {
    height: 13px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 13px;
    display: inline-block;
    float: right;
}
.server-line {
    width: 376px;
    margin: 0 auto;
    margin-top: 16px;
    border-bottom: 1px solid #D6D6D6;;
}
.server-info-wrapper {
    width: 236px;
    height: 80px;
    margin-left: 27px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.server-info-wrapper p:nth-child(1) {
    height: 13px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 13px;
    margin: 0;
}
.server-info-wrapper p:nth-child(2) {
    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
    margin: 0;
}
.server-info-wrapper p:nth-child(3) {
    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
    margin: 0;

}
.server-info-wrapper p:nth-child(4) {
    height: 12px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 12px;
    margin: 0;
}
.product-selection-buy {
    width: 408px;
    height: 297px;
    margin-left: 80px;
    margin-top: 23px;
}
.product-selection-buy > p:nth-child(1) {
    height: 12px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    
}
.item-buy-wrapper {
    width: 408px;
    height: 253px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;;
}
.item-buy {
    width: 348px;
    height: 209px;
    
}
.item-buy > p:nth-child(1) {
    height: 63px;
    font-size: 32px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 32px;
}
.item-buy > p:nth-child(2) {
    height: 14px;
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    margin: 14px 0 12px 0;

}
.line-buy {
    width: 348px;
    border-bottom: 1px solid #D6D6D6;
}
.fenqi-dialog > a {
    height: 15px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #5E8ECB;
    line-height: 15px;
    display: inline-block;
    margin-bottom: 26px;
    box-sizing: border-box;
}
.fenqi-dialog a:hover {
    border-bottom: 1px solid #5E8ECB;
}

.white_content { 
    display: none; 
    margin-top: 78px;
    position: absolute;
    width: 816px;
    height: 971px;
    margin-left: -520px;
    margin-top: -200px;
    background-color: white; 
    z-index:2000; 
    overflow: auto; 
    border-radius: 0 0 30px 30px;
}

.close-overlay {
    margin-left: 27px;
    margin-top: 31px;
}
.overlay-content {
    width: 656px;
    height: 592px;
    /* margin-top: 106px; */
    margin: 44px auto auto auto;
    text-align: center;
}

.overlay-content > p:nth-child(1) {
    height: 34px;
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 34px;
}
.overlay-content p:nth-child(2) {
    height: 18px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 18px;
    margin: 25px 0 8px 0;
}
.overlay-content a {
    height: 14px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #5E8ECB;
    line-height: 14px;
    box-sizing: border-box;
}
.overlay-content a:hover {
    border-bottom: 1px solid #5E8ECB;
}
.compareplans-datatable {
    width: 656px;
    height: 253px;
    margin-top: 49px;
    background-image: url("../assets/images/by-stages.png");
    background-repeat: no-repeat;
}
.overlay-content p:nth-child(5) {
    text-align: left;
    margin-top: 71px;
    height: 11px;
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 11px;
}
.chat-buyflow-fenqi {
    width: 816px;
    height: 160px;
    background-color: #f5f5f7;
    position: relative;
    top: 109px;
    display: flex;
    align-items: center;
}
.compareplans-information-wrapper {
    padding: 12px;
    text-align: left;
    margin-bottom: 76px;
}
.compareplans-information li {
    font-size: 10px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}
.item-selection-wrapper {
    width: 348px;
    height: 35px;
    display: flex;
    margin-top: 28px;
    align-items: center;
}
.item-selection-buy {
    width: 303px;
    height: 35px;
    background-image: url("../assets/images/bule-crad.png");
    background-repeat: no-repeat;
    text-align: center;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 35px;

}
.item-selection-buy:hover {
    background: linear-gradient(0deg, #1890EF 0%, #7AC3FD 100%);
}
.item-selection-like {
    width: 23px;
    height: 21px;
    background-image: url("../assets/images/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.package-container {
    width: 991px;
    height: 608px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
}
.package-container > p:nth-child(1) {
    height: 34px;
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 34px;
    margin-bottom: 47px;
}
.package-container span{
    display: inline-block;
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 16px;
    margin-top: 27px;
    position:absolute;
}
.package-container span:nth-child(1) {
    position: relative;
    right: 45px;
}
.package-container span:nth-child(2) {
    position: relative;
    left: 100px;
}
.package-container > p:nth-child(4) {
  width: 989px;
  height: 35px;
  font-size: 13px;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 25px;
  line-height: 20px;

}
.package-container > p:nth-child(5) {
    height: 14px;
    font-size: 13px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    margin-bottom: 52px;
}
.content {
    width: 100%;
    height: 646px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
}
.direction {
   width: 100%;
   height: 64px;
   display: flex;
   justify-content: space-between;
   z-index: 999;
   position: absolute;
}
#btn-letf {
   width: 64px;
   height: 64px;
   background-image: url("../assets/images/left.png");
}
#btn-right {
   width: 64px;
   height: 64px;
   background-image: url("../assets/images/right.png");
}
.transform-img-wrapper {
    width: 100%;
    display: flex;
    height: 646px;
    justify-content: center;
}
.transform-img {
    width: 1920px;
    /* display: flex;
    justify-content: center; */
    margin: 52px auto auto auto;
    /* margin-top: 52px; */
    height: 646px;
}
.transform-img-item-group {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -999;
}
.item-img {
    position: absolute;
    opacity: 0;
    transform: all 1s;
}
.item-img img{
    width: 100%;
}


.active {
   opacity: 1;
   z-index: 999;
}
.magsafe-container {
  
    width: 724px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.masge-wrapper {
    width: 724px; 
    margin: 0 auto;
    margin-top: 74px;
}
.magsafe-container p {
    text-align: center;
}
 .magsafe-container p:nth-child(1) {
    height: 38px;
    font-size: 36px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 38px;
 }
 .magsafe-container p:nth-child(2) {
    font-size: 14px;
    width: 638px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    margin-top: 27px;

 }
 .magsafe-container p:nth-child(3) {
    font-size: 14px;
    width: 638px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    margin-top: 11px;
    margin-bottom: 22px;
 }
 .magsafe-container p:nth-child(4) {
    height: 18px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #5E8ECB;
    line-height: 18px;
    margin-bottom: 31px;
 }
/* todolist 
   禁止点击事件
*/
 .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    }
    
 @keyframes color-item-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
              opacity: 1;
    }
  }









