/* 主页css */
.container {
    margin: 0 auto;
    overflow: hidden;
    min-width: 1024px;
}
.head {
    top: 0;
    position:sticky;
    z-index: 9999;
}
.adv-wrapper { 
    height: 40px;
    width: 100%;
    background: #444444;
    z-index: 9;
}

.adv-wrapper-text{
    height: 40px;
    text-align: right;
    width: 978px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 100;
    color: #EEEEEE;
    margin: 0 auto;
    line-height: 40px;;
    
}


.tag {
    width: 100%;
    height: 46px;
    font-size: 14px;
    text-align: center;
    background: #FFFFFF;
    line-height: 46px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #666666;

}
.tag a {
    color: #537BFF;
}

.tag span:hover {
    border-bottom: 1px solid blue;
}
.list1-main {
    position: relative;
    font-family: PingFang SC;
    display: flex;
    justify-content: center;

}
.onclick-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.list1-main-content {
    position: absolute;
    text-align: center;
    margin-top: 510px;
    z-index: 10;
}
.list1-main-content > p:nth-child(1) {
    height: 48px;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 48px;
}
.list1-main-content > p:nth-child(2) {
    height: 28px;
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    margin: 15px 0 21px 0;
}
.list1-main-content > a:nth-child(3) {
    height: 17px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1576EE;
    line-height: 17px;
}
.image-wrapper {
    display: flex;
    justify-content: center;
}
.image-content-main {
    width: 1920px;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/apple-main.png");
    background-repeat: no-repeat;
    background-position: center;
}
.list1-iphone-12pro {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}
.list1-iphone-12pro-content {
    position: absolute;
    text-align: center;
    margin-top: 200px;
    z-index: 10;
    margin-left: -400px;
}
.list1-iphone-12pro-content > p:nth-child(1) {
    height: 24px;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 24px;
}
.list1-iphone-12pro-content > p:nth-child(2) {
    height: 48px;
    font-size: 50px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 48px;
    margin: 16px 0 19px 0;
    margin-left: 50px;
}
.iphone12pro-tag {
    margin-bottom: 5px;
}
.iphone12pro-tag span:nth-child(1) {
    height: 25px;
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #242220;
    line-height: 25px;
    display: inline-block;
    margin-right: 5px;
}
.iphone12pro-tag span:nth-child(2) {
    height: 28px;
    font-size: 28px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 28px;
    display: inline-block;
    margin-left: 5px;

}
.cta-links a {
    height: 17px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1576EE;
    line-height: 17px;
    margin: 20px;
}
.image-content-iphone12pro {
    width: 1920px;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/iPone12ProMax.png");
    background-repeat: no-repeat;
    background-position: center;
}
.list1-iphone-12mini {
    position: relative;
    display: flex;
    justify-content: center; 
}
.list1-iphone-12mini-content {
    margin-left: -200px;
}
.image-content-iphone12mini {
    width: 1920px;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/iPhone12mini.png");
    background-repeat: no-repeat;
    background-position: center;
}







