/* 主页css */
.head {
    top: 0;
    position:sticky;
}
.adv-wrapper { 
    height: 40px;
    width: 100%;
    background: #444444;
    z-index: 9;
}

.adv-wrapper-text{
    height: 40px;
    text-align: right;
    width: 978px;
    font-size: 11px;
    font-family: PingFang SC;
    font-weight: 100;
    color: #EEEEEE;
    margin: 0 auto;
    line-height: 40px;;
    
}


.tag {
    width: 100%;
    height: 46px;
    font-size: 14px;
    text-align: center;
    background: #FFFFFF;
    line-height: 46px;
}
.tag span {
    color: blue;
}

.tag span:hover {
    border-bottom: 1px solid blue;
}

.list1 {
    height: auto;
}
.list1 li:nth-child(1) a {
    display: inline-block;
    width: 100%;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/apple-main.png");
    background-repeat: no-repeat;
}
.list1 li:nth-child(2) a {
    display: inline-block;
    width: 100%;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/iPone12ProMax.png");
    background-repeat: no-repeat;
}

.list1 li:nth-child(3) a {
    display: inline-block;
    width: 100%;
    height: 692px;
    background-size: cover;
    background-image: url("../assets/images/iPhone12mini.png");
    background-repeat: no-repeat;
}

.list1-tag-main {
    font-family: PingFangSC-Regular;
    font-weight: bold;
    text-align: center;
}

.list1-tag-main p:nth-child(1) {
    height: 50px;
    font-size: 50px;
    font-family: PingFang SC;
    color: #FFFFFF;  
    margin-top: 500px;
    line-height: 50px;
   
}
.list1-tag-main p:nth-child(2) {
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 15px;
    height: 28px;
    line-height: 28px;
}
.list1-tag-main p:nth-child(3) { 
    font-size: 18px;
    height: 18x;
    line-height: 18px;
    color: #1576EE; 
    margin-top: 21px; 
}
.list1 li:nth-child(2) {
    margin: 10px 0;
}
.list1-tag-iphone {
    width: 420px;
    height: 185px;
    
}
.iphone12promax {
    margin-top: 216px;
    margin-left: 546px;
}
.iphone12mini {
    margin-top: 240px;
    margin-left: 1010px;
}
.iphone12mini p:nth-child(1) {
    margin-left: 66px;
}
.iphone12mini p:nth-child(2) {
    margin-left: 52px;
}
.iphone12mini p:nth-child(4) {
    margin-left: 44px;
}
.list1-tag-iphone p:nth-child(1) {
    height: 24px;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 24px;
    margin-bottom: 16px;
}
.iphone12promax p:nth-child(1) {
    margin-left: 69px;
    
}
.list1-tag-iphone p:nth-child(2) {
    height: 50px;
    font-size: 50px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #1D1D1F;
    line-height: 50px;
    margin-bottom: 19px;
    
}
.iphone12promax p:nth-child(2) {
    margin-left: 78px;
    
}
.list1-tag-iphone p:nth-child(3) {
    margin-bottom: 25px;
}
.list1-tag-iphone p:nth-child(3) span:nth-child(1) {

    height: 26px;
    font-size: 26px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #242220;
    line-height: 26px;
    margin-right: 10px;
    
}
.list1-tag-iphone p:nth-child(3) span:nth-child(2) {

    height: 28px;
    font-size: 28px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 28px;
    
}
.list1-tag-iphone p:nth-child(4) span:nth-child(1) {

    height: 18px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1576EE;
    line-height: 18px;
    
}
.iphone12promax p:nth-child(4) {
    margin-left: 70px;
}
.list1-tag-iphone p:nth-child(4) span:nth-child(2) {

    height: 18px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1576EE;
    line-height: 18px;
}

/* 第二部分商品 */
.list2 {
    /* width: 1920px; */
    height: 1711px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    flex: 1;
    
}
.list2 li:nth-child(1) {
    margin-top: 10px;
}
.list2 li:nth-child(2) {
    margin-top: 10px;
}
.footer-text {
    height: 15px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #1576EE;
    line-height: 15px;
    display: flex;
    justify-content: center;
    margin-top: 19px;
}
.footer-text span:nth-child(1) {
    margin-right: 5px;
}
.footer-text span:nth-child(2) {
    margin-left: 14px;
}
.list2 li:nth-child(1)  a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/watch6.png");
    display: flex;
    flex-direction: column;
    align-items: center;

}
.watch-img {
    margin-top: 50px;
}
.list2 li:nth-child(1)  a p:nth-child(2) {
    height: 18px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-top: 10px;
}

.list2 li:nth-child(2) a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/iPadAir.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list2 li:nth-child(2) a  p:nth-child(1) {
    height: 30px;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 30px;
    text-align: center;
    margin-top: 60px;
}
.list2 li:nth-child(2) a  p:nth-child(2) {
    height: 17px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #242220;
    line-height: 17px;
    text-align: center;
    margin-top: 16px;
}

.list2 li:nth-child(3) a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/iPad.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list2 li:nth-child(3) a p:nth-child(1) {
    height: 15px;
    font-size: 15px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #242220;
    line-height: 15px;
    margin-top: 372px;
}
.list2 li:nth-child(3) a p:nth-child(2) {
    height: 67px;
    font-size: 96px;
    font-family: 经典行楷繁;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 67px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.list2 li:nth-child(3) a p:nth-child(3) {
    height: 19px;
    font-size: 19px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #242220;
    line-height: 19px;
    margin-top: 10px;
}

.list2 li:nth-child(4) a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/watchSE.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list2 li:nth-child(4) a p:nth-child(2) {

    height: 18px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #39364A;
    line-height: 18px;
    margin-top: 16px;
}

.list2 li:nth-child(5) a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/AirPodsPro.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list2 li:nth-child(5) a p:nth-child(1) {
    height: 39px;
    font-size: 39px;
    font-family: Helvetica;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 39px;
    margin-top: 61px;
}
.list2 li:nth-child(5) a p:nth-child(2) {
    height: 18px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 18px;
    margin-top: 16px;
} 

.list2 li:nth-child(6) a {
    width: 943px;
    height: 557px;
    display: block;
    background: url("../assets/images/AppStore.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list2 li:nth-child(6) a p:nth-child(1) {
    height: 39px;
    font-size: 40px;
    font-family: Helvetica;
    font-weight: 400;
    color: #1D1D1F;
    line-height: 39px;
    margin-top: 60px;
}
.list2 li:nth-child(6) a p:nth-child(2) {
    height: 19px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #242220;
    line-height: 19px;
    margin-top: 7px;
}







