/* 公共css */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
input {
    outline: 0;
}
:root {
    --baseColor: #ff6700;
}
/* 引入字体 */
@font-face {
    font-family: 'iconfont';  /* Project id 2996422 */
    src: url('//at.alicdn.com/t/font_2996422_ymlzrmd3bme.woff2?t=1639466109650') format('woff2'),
         url('//at.alicdn.com/t/font_2996422_ymlzrmd3bme.woff?t=1639466109650') format('woff'),
         url('//at.alicdn.com/t/font_2996422_ymlzrmd3bme.ttf?t=1639466109650') format('truetype');
  }
@font-face {
    font-family: PingFang SC;
    src: url('../assets/font/PingFangSC.ttf');
}
@font-face {
    font-family: PingFang-SC-Bold;
    src: url('../assets/font/PingFang-SC-Bold.ttf');
}
.iconfont {
    font-family: "iconfont" !important;
}
.clearfix {
    zoom: 1;
}
em,
i {
    font-style: normal;
}
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.w {
    width: 1226px;
    margin: 0 auto;
}
.hide {
    display: none!important;
}
.hide-opacity {
    opacity: 0 !important;
}
